<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.palmcampusmarket_client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/train"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.palmcampusmarket_client.MainActivity"
            android:label="掌上理工" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.palmcampusmarket_client.TableActivity" />
        <activity android:name="com.example.palmcampusmarket_client.LoginActivity" />
        <activity android:name="com.example.palmcampusmarket_client.collect.CommodityContentActivity" />
        <activity android:name="com.example.palmcampusmarket_client.PasswordRecoverActivity" />
        <activity android:name="com.example.palmcampusmarket_client.RegisterActivity" />
        <activity android:name="com.example.palmcampusmarket_client.collect.SearchActivity" />
        <activity android:name="com.example.palmcampusmarket_client.EvaluationActivity" />
        <activity android:name="com.example.palmcampusmarket_client.NewCommodityActivity" />
        <activity android:name="com.example.palmcampusmarket_client.HomePageActivity" />
        <activity android:name="com.example.palmcampusmarket_client.DisplayActivity" />
        <activity android:name="com.example.palmcampusmarket_wallet.MyWalletActivity" />
        <activity android:name="com.example.palmcampusmarket_wallet.MyBillActivity" />
        <activity android:name="com.example.palmcampusmarket_wallet.RechargeActivity" />
        <activity android:name="com.example.palmcampusmarket_client.PurchaseActivity" />
        <activity android:name="com.example.palmcampusmarket_wallet.SettingActivity" />
        <activity
            android:name="com.example.palmcampusmarket_wallet.ImageShower"
            android:theme="@style/ImageScale" />
    </application>

</manifest>